<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hiking Stats</title>
    <style media="screen">
      html, body {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        font-family: monospace;
      }
      .profile_img {
        width: 100vw;
        margin: 0 auto;
      }
      .iframe_stats {
        padding-left: 10px;
        color: #FFF;
        /* background-color: rgba(0,0,0,1.0); */
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
