{% extends 'stats_api/base.html' %}

{% load static %}
{% load mathfilters %}

{% block content %}

<div id="iframe_stats">
{% if error == "invalid_id" %}
Invalid ID
{% elif error == "invalid_slug" %}
Invalid Name(Slug)
{% else %}
<strong>{{year}}</strong>
<strong>Hikes</strong>: {{ overalls.total_hikes }}
// <strong>Distance Hiked</strong>: {{ overalls.total_miles|floatformat:1  }} miles
// <strong>Elevation Gain</strong>: {{ overalls.total_elev_feet }} feet
// <strong>Highest Elevation</strong>: {{ overalls.highest_elev_feet }} feet
{% endif %}
</div>

<div id="fullpage_stats">
{% if error == "invalid_id" %}
Invalid ID
{% elif error == "invalid_slug" %}
Invalid Name(Slug)
{% else %}
  <div class="fullpg_body">
      <div>
        <h1>{{year}} Stats for {{hiker_name}}</h1>
        <div id="stats_table">
          <div>
            <div class="total_hikes header">Hikes</div>
            <div class="total_miles header">Distance Hiked</div>
            <div class="total_elev_feet header">Elevation Gain</div>
          </div>
          <div>
            <div class="total_hikes">{{ overalls.total_hikes }}</div>
            <div class="total_miles">{{ overalls.total_miles|floatformat:1 }} miles</div>
            <div class="total_elev_feet">{{ overalls.total_elev_feet }} feet</div>
          </div>
        </div>
        <div id="stats_table_goals">
          <h3>Percentage of Goals Reached</h3>
          <div>
            <div class="total_hikes header">{{ overalls.total_hikes_percentage }}</div>
            <div class="total_miles header">{{ overalls.total_miles_percentage }}</div>
            <div class="total_elev_feet header">{{ overalls.total_elev_percentage }}</div>
          </div>
          <div>
            <div class="sub total_hikes">of {{ overalls.goal_hikes }} hikes</div>
            <div class="sub total_miles">of {{ overalls.goal_miles }} miles</div>
            <div class="sub total_elev_feet">of {{ overalls.goal_elevation }} feet</div>
          </div>
        </div>
      </div>
  </div>
{% endif %}
</div>

<script type="text/javascript">
  let urlarg = window.location.search.substring(1);
  let urlParams = new URLSearchParams(urlarg);
  const color = window.location.search.replace("?", "").split("&")[0];
  let iframe_stats = document.querySelector('#iframe_stats');
  let stats_table_goals = document.querySelector('#stats_table_goals');
  let body = document.querySelector('body');
  if (urlarg) {
    if (urlParams.has('full')) {
      iframe_stats.style.display = 'none';
      fullpage_stats.style.display = 'flex';
      body.style.backgroundColor = '#e0e0e0';
      if (urlParams.has('2021') || urlParams.has('2022')) {
        stats_table_goals.style.display = 'block';
      }
    }
    else {
      iframe_stats.style.backgroundColor = color;
    }
  }
</script>

{% endblock %}
